<p id="notice"><%= notice %></p>

<div class="shop-header">
  <h1>Products</h1>
  <div id="cart">
    <%= render 'carts/cart' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
       
        <td><%= number_to_currency product.price %></td>
        <td><%= link_to 'Details', shop_path(product), class: "text-decoration-none" %></td>

        <td>
          <%= form_for @order_item, remote: true do |f|%>
          <%= f.hidden_field :product_id, :value => product.id %>
          <%= f.number_field :quantity, :value => 1, :min => 1, class: "text-center" %>
          <%= f.submit 'Add to cart', class: "add_to_cart" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
