<div class="navbar navbar-expand-sm navbar-light navbar-design px-5" style="background: linear-gradient(359deg, #191987ad, #27278e82);">
  <div class="container-fluid">
  <div class="space">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/5/58/Getir_logo.png" %>
    <% end %>
  </div>



      <div class="text-center space-grow">
      <%= form_with url: root_path, method: :get, html: { class:'my-4', data: { search_target: 'form' }} do |f| %>
          <%= f.text_field :query, class: "form-control text-center search", placeholder: 'Search', value: params[:query], 
                            data: { action: 'keyup->search#update', search_target: 'query' } %>
      <% end %>
    </div>  



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse space justify-content-end" id="navbarSupportedContent">
        
        <div id="cart" class="mx-4">
          <%= render 'carts/cart' %>
        </div>
      
      <ul class="navbar-nav">


        <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <% if current_user.admin %>
              <%= image_tag "https://d2gg9evh47fn9z.cloudfront.net/1600px_COLOURBOX9896883.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
              <%= image_tag "https://as1.ftcdn.net/v2/jpg/03/53/11/00/1000_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Home", root_path, class: "dropdown-item" %>
              <%= link_to "My Cart", carts_path, class: "dropdown-item" %>
              <%= link_to "Past Orders", checkouts_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item login-btn">
            <%= link_to "Login", new_user_session_path, class: "nav-link", style:'font-weight:bold;' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
