<div class="navbar navbar-expand-sm navbar-light navbar-design">
  <div class="container-fluid mx-3">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://getuplead.com/wp-content/uploads/amenitiz-1-1024x576.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <div id="cart" class="mx-5">
          <%= render 'carts/cart' %>
        </div>
      
      <ul class="navbar-nav me-auto">


        <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <% if current_user.admin %>
              <%= image_tag "https://media.cdn.teamtailor.com/images/s3/teamtailor-production/employee_picture-v3/image_uploads/a8cf4cf6-d469-4232-82a2-ed20b51f32ab/original.jpeg?outputFormat=webp", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
              <%= image_tag "https://as1.ftcdn.net/v2/jpg/03/53/11/00/1000_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Home", root_path, class: "dropdown-item" %>
              <%= link_to "My Cart", carts_path, class: "dropdown-item" %>
              <%= link_to "Past Orders", checkouts_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
