<div class="min-height">
        <% @order_items.each do |item| %>
        <div class="cart-details">
            <div class="d-flex justify-start align-items-center">
                <h3 class="m-0"><%= item.product.name %></h3>
                <h6 class="ml-2 m-0">(<%= number_to_currency item.product.price %>)</h6>
            </div>

            <%= form_for item, remote: true do |f| %>

                <%= f.hidden_field :product_id, :value => item.product.id %>
                <%= f.number_field :quantity, :value => item.quantity.to_i, class: "text-center" %>
                <%= f.submit 'Update Cart', class: 'add_to_cart' %>

                <%= link_to "[Delete]", order_item_path(item), method: :delete, remote: true, class: "text-decoration-none ml-2"  %>

            <% end %>
        </div>

            <h6 class="d-flex justify-content-end subtotal-margin">Subtotal: <%= number_to_currency item.total %></h6>

        <% end %>
</div>

        <div class="cart-total">
            <h3>Total:</h3>
            <h3 class="subtotal-margin"><%= number_to_currency current_order.subtotal %></h3>
        </div>  
<%  %>