
  <div class="grid">
  <% @products.order('name').each do |product| %>
      <div class="card-trip">
        <%= link_to product_path(product, query: params[:query]) do %>
        <div style="height: 250px;
                        width: fit-content;
                        margin: auto;">
              <%= image_tag product.img_url, class:"my-5", style:"height:100%;" %> 
        </div>
          <% end %>          
            <div class="card-trip-infos mx-1">
              <div>
                <h1 class="m-0 mb-1" style="font-size:23px;"><b><%= link_to product.name, product_path(product), class:'text-decoration-none', style:'color: black; font-weight: 350;' %></b></h1>
                <div class="d-flex align-items-center">
                  <h6 class="my-2">⭐⭐⭐⭐⭐</h6>
                  <span class="mx-1" style="font-size:10px;">(4)</span>
                </div>
                <h6 class="card-trip-pricing mb-0"><%= number_to_currency product.price, :unit => :€ %></h6>
                <h6 class="mt-2 mb-3" style="font-size:12px;">Get it by: <b> <em><%= (Date.current + 14).strftime("%A %B %d, %Y") %></em></b></h6>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
    <div class="paginate mb-5">
      <%= will_paginate @products %>
    </div>