<div data-controller="search">
  <p id="notice"><%= notice %></p>

  <div class="shop-header">
    <div class="space">
      <h1>Products</h1>
    </div>
    <div class="text-center space">
      <%= form_with url: root_path, method: :get, html: { class:'my-4', data: { search_target: 'form' }} do |f| %>
          <%= f.text_field :query, class: "form-control text-center search", placeholder: 'Search by name or code', value: params[:query], 
                            data: { action: 'keyup->search#update', search_target: 'query' } %>
      <% end %>
    </div>  

    <div class="space"></div>

  </div>

    <div data-search-target="output">


      <div class="grid my-5">
        <% @products.order('name').each do |product| %>
            <div class="card-trip">
            <a href="<%= product_path(product) %>">
              <div style="height: 250px;
                          width: fit-content;
                          margin: auto;">
                <%= image_tag product.img_url, class:"my-5", style:"height:100%;" %> 
              </div>
            </a>
            
              <div class="card-trip-infos mx-1">
                <div>
                  <h2><%= link_to product.name, product_path(product), class:'text-decoration-none', style:'color: black; font-weight: 500;' %></h2>
                  <div class="d-flex align-items-center">
                    <h6 class="my-2">⭐⭐⭐⭐⭐</h6>
                    <span class="mx-1" style="font-size:10px;">(4)</span>
                  </div>
                  <h6 class="card-trip-pricing mb-0"><%= number_to_currency product.price, :unit => :€ %></h6>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
</div>