<div class="show-flex">

  <div class="show-img">
    <%= image_tag @product.img_url %>
  </div>

  <div class="infos d-flex" style="flex-direction:column; align-items: center;">
 
    <h3 class="mt-4">
      <%= @product.name %>
    </h3>
    

    <div class="d-flex align-items-center justify-content-center">
      <h6 class="my-2">⭐⭐⭐⭐⭐</h6>
      <span class="mx-1" style="font-size:10px;">(4)</span>
    </div>


    <p>Price:<%= number_to_currency @product.price, :unit => :€ %></p>

    <h6 class="mt-1 mb-2" style="font-size:12px;">Get it by: <b> <em><%= (Date.current + 14).strftime("%A %B %d, %Y") %></em></b></h6>
    <div class="d-flex justify-content-start">
      <%= form_for @order_item, remote: true, class: "card-trip-user avatar-bordered form-control" do |f|%>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <div class="d-flex" style="width: 100px; display: flex; flex-direction: column; align-items: center; ">
            <%= f.label :quantity, 'Quantity', class:'my-2' %>
            <%= f.select :quantity, options_for_select((1..30).to_a ) %>
          <div  class="my-2">
          <%= f.submit 'Add to cart', class: "add_to_cart login-btn", data: {confirm: "Add #{@product.name} to cart?"} %>
          </div>
          <%= link_to 'Back', root_path(query: params[:query]), style:'color: #705c14;' %>
        </div>
      <% end %>
    </div>
    
      </div>
      <div class="space"></div>
      
    </div>

