<div class="show-flex" data-search-target="output">

  <div class="show-img">
    <%= image_tag @product.img_url %>
  </div>

  <div class="infos d-flex" style="flex-direction:column; justify-content-start;">
 
    <h3 class="mt-4">
      <%= @product.name %>
    </h3>
    

    <div class="d-flex align-items-center justify-content-start">
      <h6 class="my-2">⭐⭐⭐⭐⭐</h6>
      <span class="mx-1" style="font-size:10px;">(4)</span>
    </div>


    <p>Price:<%= number_to_currency @product.price, :unit => :€ %></p>
    <p><%= @product.description %></p>

    </div>
    

      <div class="space-grow purchase-box"> 
        <h4 class="mb-4" style="font-size: initial;"> <b>Purchase:</b></h4>
        <div class="d-flex justify-content-center">
          <h6 class="mt-1 mb-2" style="font-size:12px;">Get by: <b> <em><%= (Date.current + 14).strftime("%A %B %d, %Y") %></em></b></h6>
        </div>
        <div class="d-flex justify-content-end">
          <%= form_for @order_item, remote: true, class: "card-trip-user avatar-bordered form-control" do |f|%>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <div class="d-flex" style="width: 100px; display: flex; flex-direction: column; align-items: center; ">
            <div class="d-flex">
                <%= f.label :quantity, 'Quantity', class:'m-2' %>
                <%= f.select :quantity, options_for_select((1..30).to_a) %>
            </div>
              <div  class="my-3">
              <%= f.submit 'Add to cart', class: "add_to_cart login-btn", data: {confirm: "Add #{@product.name} to cart?"} %>
              </div>
            </div>
          <% end %>
          </div>
    </div>
</div>

<div>
  <table class="table">
    <tr>
      <th>Ships from</th>
      <th>Carrier</th>
      <th>Country</th>
      <th>Contact</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>UPS</td>
      <td>Germany</td>
      <td>Maria Anders</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>FedEx</td>
      <td>Mexico</td>
      <td>Francisco Chang</td>
    </tr>
  </table>
</div>