
<p id="notice"><%= notice %></p>

<div class="show-img">
  <%= image_tag @product.img_url %>
</div>
<div class="infos mx-3 my-3">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price, :unit => :€ %>
</p>

<%= link_to 'Back', root_path(query: params[:query]) %>

</div>
